<div class="row col-md-12">
    <div style="padding-bottom: 10px;">
        <label class="switch">
            <input type="checkbox" [checked]="this.shared.flgAutopilot" (change)="this.shared.flgAutopilot = !this.shared.flgAutopilot">
            <div class="slider round"></div>
        </label>
        <div class="switch-desc">AUTO-PILOT PRICING</div>
    </div>
    <a [routerLink]="['../default_bar']">STD MOD</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../bar']">MOD OVRD</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../default_limits']">OFR RANGE</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_ofr']">ROOM</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_los']">LOS</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_toa']">TOA</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_adu']">ADU</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../disc']">OFR OVRD</a>
</div>
<div class="row col-md-12">
    <h6>
        <div class="arrows" style="float:right;padding-bottom:10px;">
            <a class="glyphicon glyphicon-chevron-left" (click)="navPaging('down')" style="cursor: pointer;padding-right:10px;"></a>
            <a class="glyphicon glyphicon-chevron-right" (click)="navPaging('up')" style="cursor: pointer;"></a>
        </div>
    </h6>
    <table style="width:100%; margin-bottom: 50px;" class="pl-table disc-table">
        <tr>
            <td>OFR PRICE</td>
            <td *ngFor="let k of rowData">{{ k }}</td>
        </tr>
        <tr *ngFor="let k of columnData">
            <td>{{ k.room_category_name }}</td>
            <td *ngFor="let date of k.daily_values" [style.color]="checkPrice(date)"
                [style.background]="checkBackground(date)">
                <div contenteditable='true' (blur)="clicked($event,k,date)" (mousedown)="highlight($event)"
                     (keypress)="checkEnter($event,k,date)">
                    {{ getDisplayValue(date) | percent }}
                </div>

            </td>
       </tr>
   </table>
</div>
