<div class="col-md-11 table-container" >
  <h6>STANDARD UPSELL DISCOUNT (100% is no discount)  <div class="arrows" style="float:right"><a [routerLink]="['../']" class="glyphicon glyphicon-arrow-left"></a> <a class="glyphicon glyphicon-arrow-right" [routerLink]="['../bar']"></a></div></h6>
  <table style="width:100%;background:transparent" class="pl-table pricing-default-table">
    <tr>
      <td style="border:none"></td>
      <td *ngFor="let k of rowData; let i=index;" colspan=3 style="" >{{ dates[i] }} </td>
    </tr>
    <tr style="background-color:#353F4E;height:20px;border-bottom:solid 2px white;">  
      <td>Room Category</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
      <td>MIN</td>
      <td>DFLT</td>
      <td>MAX</td>
    </tr>
    <tr *ngFor="let k of columnData" style="height:30px">
      <td>{{ k.room_category_name }}</td>
      <ng-container *ngFor="let date of k.default_discounts" >
        <td [style.color]="date.color" contenteditable='true' (blur)="clicked($event,k,date,'disc_min')" (click)="highlight($event)" (keypress)="checkEnter($event,k,date, 'disc_max')"
          [style.background]="checkBackground(date)"
          >
          {{ date.disc_min | percent }}
        </td>

        <td [style.color]="date.color" contenteditable='true' (blur)="clicked($event,k,date, 'disc_dflt')" (click)="highlight($event)" (keypress)="checkEnter($event,k,date, 'disc_max')">
          {{ date.disc_dflt | percent }}
        </td>

        <td [style.color]="date.color" contenteditable='true' (blur)="clicked($event,k,date, 'disc_max')" (click)="highlight($event)" (keypress)="checkEnter($event,k,date, 'disc_max')">
          {{ date.disc_max | percent }}
        </td>
      </ng-container>
    </tr>
  </table>
</div>
