<div class="admin" style="font-size:1.2em;">
<nav class="navbar navbar-default" style="border-width: 0px;margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['inventory']">Admin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
           <!-- <li><a [routerLink]="['general']" [routerLinkActive]="['active']">GENERAL</a></li>-->
            <li><a [routerLink]="['inventory']" [routerLinkActive]="['active']">INVENTORY</a></li>
            <li><a [routerLink]="['default_bar']" [routerLinkActive]="['active']">PRICING</a></li>
            <!--<li><a [routerLink]="['pricing']">DEFAULT</a></li>-->
            <!--<li><a [routerLink]="['bar']" [routerLinkActive]="['active']">BAR OVRD</a></li>-->
            <!--<li *ngIf="!this.shared.flgAutopilot"><a [routerLink]="['disc']" [routerLinkActive]="['active']">OFR OVRD</a></li>-->
            <li><a [routerLink]="['promo']" [routerLinkActive]="['active']">PROMO</a></li>
            <!--<li>ATTRIBUTES</li>-->
            <li><a [routerLink]="['reporting']" [routerLinkActive]="['active']">PERFORMANCE</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="row">&nbsp;</div>
<div class="clearfix"></div>
<router-outlet></router-outlet>
</div>