<div class="row col-md-12">
    <a [routerLink]="['../inventory']">AVAILABILITY</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation']">ALLOCATION</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation_default']">DEFAULT</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../alerts']">ALERTS</a>
</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12" style="padding: 20px 0;">
        <div *ngFor="let alert of alerts" style="padding: 5px 0;">
            <div class="row" style="font-size: 12px; background: #222222; color: white;padding: 5px 0;">
                <div class="col-md-3" style="padding-top: 10px;">
                    <span *ngIf="!alert.isEdit" style="color:#999;">{{alert.contactInfo}}</span>
                    <div *ngIf="alert.isEdit"><input type="text" style="color:#999;border: none; background: #404040; padding: 5px; margin-top: -5px;width: 100%;" [(ngModel)]="alert.contactInfo" placeholder="{{alert.placeHolder}}"/></div>
                </div>
                <div class="col-md-7" style="padding-top: 6px;">
                    <div class="squaredThree" style="display:inline-block; padding-right:25px;">
                        <input type="checkbox" [(ngModel)]="alert.alertRunsOut" id="runsout" name="runsout" />
                        <label for="runsout"></label>
                    </div>
                    <label style="padding-right:25px;color:#999;">
                        SEND {{alert.type}} WHEN AN ALLOCATION RUNS OUT
                    </label>
                    <div class="squaredThree" style="display:inline-block; padding-right:25px;">
                        <input type="checkbox" [(ngModel)]="alert.alertReached" id="reached" name="reached" />
                        <label for="reached"></label>
                    </div>
                    <label style="color:#999;">
                        SEND {{alert.type}} WHEN 80% OF ALLOCATION REACHED
                    </label>
                </div>
                <div class="col-md-2">
                    <div class="row pull-right" style="padding: 5px;" *ngIf="alert.isEdit">
                        <button class="btn btn-danger" style="padding: 2px 5px;" (click)="save(alert)">SAVE</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn" style="padding: 2px 5px;border: unset; background: transparent; color: slategray;" (click)="delete(alert)">X</button>
                    </div>
                    <div class="row pull-right" style="padding: 5px;" *ngIf="!alert.isEdit">
                        <a (click)="test(alert)" style="color: white; cursor: pointer;">TEST SEND</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a (click)="edit(alert)" style="color: white; cursor: pointer;">EDIT</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn" style="padding: 2px 5px;border: unset; background: transparent; color: slategray;" (click)="delete(alert)">X</button>
                    </div>
                </div>
            </div>
        </div>


</div>
<div class="row col-md-12" style="margin-bottom: 50px;">
    <button class="btn btn-primary" (click)="create('EMAIL')">ADD EMAIL ALERT</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="create('TEXT')">ADD TEXT ALERT</button>
</div>

