<div class="admin_promo">

    <modal #modal>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Alert</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                {{modal_body}}
            </div>
        </modal-body>
        <modal-footer>
            <div class="col-md-4 col-xs-4 col-sm-4"></div>
            <div class="col-md-4 col-xs-4 col-sm-4"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="modal.dismiss()">Ok</button>
            </div>
        </modal-footer>
    </modal>

    <modal #createModal>
        <modal-header>
            <h4 class="modal-title">Create Promo</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label for="textbox">New Promo Code</label>
                <input autofocus type="text" class="form-control" id="textbox" [(ngModel)]="newPromoCode" style="text-transform:uppercase ;">
            </div>
        </modal-body>
        <modal-footer>
            <div class="col-md-4 col-xs-4 col-sm-4"></div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <button type="button" class="btn btn-danger btn-block" (click)="createPromo()">Create</button>
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
            </div>
        </modal-footer>
    </modal>

<div class="row col-md-12">
    <select class="promo-array" style="width:300px;"></select>
    <span style="padding-left:16px; color: white; font-weight: 700;">OR</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="openModal()">CREATE</button>
</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12" style="border-top: 1px solid #222222;">&nbsp;</div>
<div class="column col-md-12">
    <div class="row col-md-12">
    <label class="pl-label">
        PROMO CODE
    </label>
    <input type="text" class="pl-input" (ngModelChange)="promoCode()" [(ngModel)]="this.promoClone.promo_cd" disabled="true"/>
</div>
    <div class="row col-md-12">
        <label class="pl-label">
            ACTIVE
        </label>
        <div class="squaredThree" style="display:inline-block;">
            <input type="checkbox" [checked]="this.promo.flg_active" (change)="setActive()" id="promoActive" name="promoActive" />
            <label for="promoActive"></label>
        </div>
    </div>
    <div class="row col-md-12">
        <label class="pl-label">
            MAX TIMES OFFERED
        </label>
        <input type="text" class="pl-input" OnlyNumber="true" (ngModelChange)="promoMaxOffered()" [(ngModel)]="this.promoClone.max_offered"/>
    </div>
    <div class="row col-md-12">
        <label class="pl-label">
            MAX REDEMPTIONS
        </label>
        <input type="text" class="pl-input" OnlyNumber="true" (ngModelChange)="promoMaxRedemption()" [(ngModel)]="this.promoClone.max_redemptions"/>
    </div>
    <div class="row col-md-12">
        <label class="pl-label">
            EXPIRES ON
        </label>
            <input class="pl-input date-input" placeholder="Select a date" ngx-mydatepicker name="mydate" [(ngModel)]="dateModel" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
                <button type="button" class="btn btn-default date-input-btn1" (click)="dp.clearDate()">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
                <button type="button" class="btn btn-default date-input-btn2" (click)="dp.toggleCalendar()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>

    </div>
    <div class="row col-md-12">
        <label class="pl-label">
            FOR CUSTOMER
        </label>
        <input type="text" class="pl-input" (ngModelChange)="promoCustomerName()" [(ngModel)]="this.promoClone.customer_name" style="text-transform:uppercase ;"/>
    </div>

</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12 table-container">
    <table style="width:100%; margin-bottom: 10px;" class="pl-table">
        <tr>
            <td>ROOM CATEGORY</td>
            <td>BASE ROOM</td>
            <td>PRICE</td>
            <td>FACTOR</td>
            <!--<td>UPSELL</td>-->
        </tr>
        <tr *ngFor="let k of this.promo.room_category">
            <td>{{ k.room_category_name }}</td>
            <td>
                    <div class="squaredThree" style="width:20px;height:20px;">
                        <input type="checkbox" [checked]="k.flg_include_base" (change)="saveCategory(k, 'base');" id="{{k.promo_room_category_id}}" name="check" />
                        <label for="{{k.promo_room_category_id}}"></label>
                    </div>
            </td>
            <td>
                <div contenteditable='true' (blur)="clicked($event,k, 'price')" (mousedown)="highlight($event)" style="color:rgb(90, 90, 90);">
                    {{ k.price | currency:'USD':true:'1.0-0' }}
                </div>
            </td>
            <td>
                <div contenteditable='true' (blur)="clicked($event,k, 'factor')" (mousedown)="highlight($event)" style="color:rgb(90, 90, 90);">
                    {{ k.factor | number:'1.2-2' }}
                </div>
            </td>
           <!-- <td>
                <div class="squaredThree" style="width:20px;height:20px;">
                    <input type="checkbox" [checked]="k.flg_include_upsell" (change)="saveCategory(k, 'upsell');" id="{{k.promo_room_category_id}}2" name="check" />
                    <label for="{{k.promo_room_category_id}}2"></label>
                </div>
            </td>-->
        </tr>
    </table>
</div>

</div>