<div class="row col-md-12">
  <a [routerLink]="['../inventory']">AVAILABILITY</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['../allocation']">ALLOCATION</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['../allocation_default']">DEFAULT</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a [routerLink]="['../alerts']">ALERTS</a>
</div>
<div class="row col-md-12" >
  <h6>
    <div class="arrows" style="float:right;padding-bottom:10px;">
      <a class="glyphicon glyphicon-chevron-left" (click)="navPaging('down')" style="cursor: pointer;padding-right:10px;"></a>
      <a class="glyphicon glyphicon-chevron-right" (click)="navPaging('up')" style="cursor: pointer;"></a>
    </div>
  </h6>
  <table style="width:100%;background:transparent" class="pl-table inventory-table">
    <tr>
      <td>AVAILABILITY</td>
      <td *ngFor="let k of rowData" >{{ k }}</td>
    </tr>
    <tr *ngFor="let k of columnData">
      <td>{{ k.room_category_name }}</td>
      <td *ngFor="let date of k.dates" (click)="clicked($event,k,date)" [style.color]="date.color">
        {{date.avail_cd}}        
      </td>
    </tr>
  </table>
  <div class="row" style="color:white;font-size:14px;padding: 10px 0;margin-bottom: 50px;">
    <div class="col-md-4" style="text-align: center;">
      <span style="color:green;">L - Low Inventory</span> ("I could sell more rooms than I have")
    </div>
    <div class="col-md-4" style="text-align: center;">
      <span style="color:orange;padding-left:20px;">VL - Very Low Inventory</span> ("I could sell twice as many rooms as I have")
    </div>
    <div class="col-md-4" style="text-align: center;">
      <span style="color:red;padding-left:20px;">X - Sold Out</span> ("I have no more rooms to sell")
    </div>
  </div>
</div>

