<div class="row col-md-12">
    <div style="padding-bottom: 10px;">
        <label class="switch">
            <input type="checkbox" [checked]="this.shared.flgAutopilot" (change)="this.shared.flgAutopilot = !this.shared.flgAutopilot">
            <div class="slider round"></div>
        </label>
        <div class="switch-desc">AUTO-PILOT PRICING</div>
    </div>
    <a [routerLink]="['../default_bar']">STD MOD</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../bar']">MOD OVRD</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../default_limits']">OFR RANGE</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_ofr']">ROOM</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_los']">LOS</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_toa']">TOA</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../default_adu']">ADU</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a *ngIf="!this.shared.flgAutopilot" [routerLink]="['../disc']">OFR OVRD</a>
</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12">
    <table style="width:100%;" class="pl-table">
        <tr>
            <td>AVERAGE DAILY UPSELL PRICE</td>
            <td>FACTOR</td>
        </tr>
        <tr *ngFor="let k of data">
            <td>{{ k.adu_desc }}</td>
            <td>
                <div contenteditable='true' (blur)="clicked($event,k)" (mousedown)="highlight($event)" style="color:rgb(90, 90, 90);">
                    {{ k.factor_man | number:'1.2-2' }}
                </div>
            </td>
        </tr>
    </table>
</div>
