<div class="col-md-11 table-container" >
  <h6>STANDARD UPSELL DISCOUNT (100% is no discount)  <div class="arrows" style="float:right"><a [routerLink]="['../']" class="glyphicon glyphicon-arrow-left"></a> <a class="glyphicon glyphicon-arrow-right" [routerLink]="['../bar']"></a></div></h6>
  <table style="width:100%;background:transparent" class="pl-table">
    <tr>
      <td>Room</td>
      <td *ngFor="let k of rowData; let i=index;" >{{ i }} - {{ k   }}</td>
    </tr>
    <tr *ngFor="let k of columnData">
      <td>{{ k.room_category_name }}</td>
      <td *ngFor="let date of k.dates" (click)="clicked($event,k,date)" [style.color]="date.color" [style.background]="checkBackground(date)" >
        {{date.avail_cd}}        
      </td>
    </tr>
  </table>
</div>
