<div class="col-md-10 general" >

  <div style="margin:auto">
   <!-- <div>
      <ui-switch size="large" (change)="onChange($event)"></ui-switch><div class="switch-desc">AUTO-PILOT PRICING</div>
    </div>
    <div>
      <ui-switch size="large" (change)="onChange($event)"></ui-switch><div class="switch-desc">NOISE-MAKER</div>
    </div>-->
   <!-- <div>
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" [checked]="this.shared.flgAutopilot" (change)="this.shared.flgAutopilot = !this.shared.flgAutopilot">
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
      <div class="switch-desc">AUTO-PILOT PRICING</div>
    </div>
    <div>
        <label class="switch">
            <input type="checkbox">
            <div class="slider round"></div>
        </label>
      <div class="switch-desc">NOISE-MAKER</div>
    </div>-->


      <!--<div>
          <label class="switch">
              <input type="checkbox" [checked]="this.shared.flgAutopilot" (change)="this.shared.flgAutopilot = !this.shared.flgAutopilot">
              <div class="slider round"></div>
          </label>
          <div class="switch-desc">AUTO-PILOT PRICING</div>
      </div>
-->



  </div>
</div>
