<div class="row col-md-12">
    <ul class="list-inline text-left">
        <li class="h5 text-uppercase">
            <a *ngIf="!this.useAgent" (click)="changeView()" class="ng-scope" style="cursor:pointer;">Agent</a>
            <span *ngIf="this.useAgent" class="ng-scope">Agent</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.useAgent" (click)="changeView()" class="ng-scope" style="cursor:pointer;">Room</a>
            <span *ngIf="!this.useAgent" class="ng-scope">Room</span>
        </li>
    </ul>
</div>
<div class="row col-md-12">
    <ul class="list-inline text-left">
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'TDY'" (click)="changeSpan('TDY')" style="cursor:pointer;">Today</a>
            <span *ngIf="this.currentSpan == 'TDY'">Today</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'YDY'" (click)="changeSpan('YDY')" style="cursor:pointer;">Y'Day</a>
            <span *ngIf="this.currentSpan == 'YDY'">Y'Day</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'WTD'" (click)="changeSpan('WTD')" style="cursor:pointer;">This Week</a>
            <span *ngIf="this.currentSpan == 'WTD'">This Week</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'MTD'" (click)="changeSpan('MTD')" style="cursor:pointer;">This Month</a>
            <span *ngIf="this.currentSpan == 'MTD'">This Month</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'QTD'" (click)="changeSpan('QTD')" style="cursor:pointer;">This Quarter</a>
            <span *ngIf="this.currentSpan == 'QTD'">This Quarter</span>
        </li>
        <li class="h5 text-uppercase">
            <a *ngIf="this.currentSpan != 'YTD'" (click)="changeSpan('YTD')" style="cursor:pointer;">This Year</a>
            <span *ngIf="this.currentSpan == 'YTD'">This Year</span>
        </li>
    </ul>
</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12" *ngIf="this.useAgent">
    <table class="pl-table" style="width: 100%;">
        <tr>
            <td style="width:200px;">Agent Name</td>
            <td style="min-width:50px;">CheckIns</td>
            <td style="min-width:50px;">Upsells</td>
            <td style="min-width:50px;">Avg LOS</td>
            <td style="min-width:50px;">Room Nights</td>
            <td style="min-width:50px;">Rev Per Upsell</td>
            <td style="min-width:50px;">Conversion</td>
            <td style="min-width:50px;">Rev Per CheckIn</td>
            <td style="min-width:50px;">Total Rev</td>
        </tr>
        <tr *ngFor="let r of data">
            <td style="width:200px;">{{r.user_name}}</td>
            <td>{{r.num_checkins | number:'1.0-0'}}</td>
            <td>{{r.num_upsells | number:'1.0-0'}}</td>
            <td>{{r.avg_los | number:'1.2-2'}}</td>
            <td>{{r.upsell_room_nights | number:'1.0-0'}}</td>
            <td>{{r.rev_per_upsell | currency:'USD':true:'1.0-0'}}</td>
            <td>{{r.conversion | percent}}</td>
            <td>{{r.rev_per_bar | currency:'USD':true:'1.0-0'}}</td>
            <td>{{r.total_rev | currency:'USD':true:'1.0-0'}}</td>
        </tr>
       <tr *ngIf="data.length > 0" style="border-top: solid 3px white; font-weight: bold; font-variant: small-caps;">
            <td style="width:200px;">TOTAL</td>
           <td>{{total.num_checkins | number:'1.0-0'}}</td>
           <td>{{total.num_upsells | number:'1.0-0'}}</td>
           <td>{{total.avg_los | number:'1.2-2'}}</td>
           <td>{{total.upsell_room_nights | number:'1.0-0'}}</td>
           <td>{{total.rev_per_upsell | currency:'USD':true:'1.0-0'}}</td>
           <td>{{total.conversion | percent}}</td>
           <td>{{total.rev_per_bar | currency:'USD':true:'1.0-0'}}</td>
           <td>{{total.total_rev | currency:'USD':true:'1.0-0'}}</td>
        </tr>
    </table>
</div>
<div class="row col-md-12" *ngIf="!this.useAgent">
    <table class="pl-table" style="width: 100%;">
        <tr>
            <td style="width:400px;">Room Category</td>
            <td style="min-width:50px;">Upsells</td>
            <td style="min-width:50px;">Avg LOS</td>
            <td style="min-width:50px;">Room Nights</td>
            <td style="min-width:50px;">Rev Per Upsell</td>
            <td style="min-width:50px;">Total Rev</td>
        </tr>
        <tr *ngFor="let r of data">
            <td style="width:400px;">{{r.upsell_room_category_name}}</td>
            <td>{{r.num_upsells | number:'1.0-0'}}</td>
            <td>{{r.avg_los | number:'1.2-2'}}</td>
            <td>{{r.upsell_room_nights | number:'1.0-0'}}</td>
            <td>{{r.rev_per_upsell | currency:'USD':true:'1.0-0'}}</td>
            <td>{{r.total_rev | currency:'USD':true:'1.0-0'}}</td>
        </tr>
        <tr *ngIf="data.length > 0" style="border-top: solid 3px white; font-weight: bold; font-variant: small-caps;">
            <td style="width:400px;">TOTAL</td>
            <td>{{total.num_upsells | number:'1.0-0'}}</td>
            <td>{{total.avg_los | number:'1.2-2'}}</td>
            <td>{{total.upsell_room_nights | number:'1.0-0'}}</td>
            <td>{{total.rev_per_upsell | currency:'USD':true:'1.0-0'}}</td>
            <td>{{total.total_rev | currency:'USD':true:'1.0-0'}}</td>
        </tr>
    </table>
</div>