<div class="row col-md-12">
    <a [routerLink]="['../inventory']">AVAILABILITY</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation']">ALLOCATION</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation_default']">DEFAULT</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../alerts']">ALERTS</a>
</div>
<div class="row col-md-12">&nbsp;</div>
<div class="row col-md-12" >
    <table style="width:100%;margin-bottom: 50px;" class="pl-table">
        <tr>
            <td>DEFAULT ALLOCATION</td>
            <td>SUN</td>
            <td>MON</td>
            <td>TUE</td>
            <td>WED</td>
            <td>THU</td>
            <td>FRI</td>
            <td>SAT</td>
        </tr>
        <tr *ngFor="let k of data">
            <td>{{ k.room_category_name }}</td>
            <td *ngFor="let v of k.default_allocations">
                <div contenteditable='true' (blur)="clicked($event,k, v)" (mousedown)="highlight($event)" (keypress)="checkEnter($event)" style="color:rgb(90, 90, 90);">
                    {{ v.allocation_default | number:'1.0-0' }}
                </div>
            </td>
        </tr>
    </table>
</div>

