<div class="row col-md-12">
    <a [routerLink]="['../inventory']">AVAILABILITY</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation']">ALLOCATION</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../allocation_default']">DEFAULT</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['../alerts']">ALERTS</a>
</div>
<div class="row col-md-12" >
    <h6>
        <div class="arrows" style="float:right;padding-bottom:10px;">
            <a class="glyphicon glyphicon-chevron-left" (click)="navPaging('down')" style="cursor: pointer;padding-right:10px;"></a>
            <a class="glyphicon glyphicon-chevron-right" (click)="navPaging('up')" style="cursor: pointer;"></a>
        </div>
    </h6>
    <table style="width:100%; margin-bottom: 50px;" class="pl-table inventory-table">
        <tr>
            <td>Sold / Allocation</td>
            <td *ngFor="let k of rowData" >{{ k }}</td>
        </tr>
        <tr *ngFor="let k of columnData">
            <td>{{ k.room_category_name }}</td>
            <td *ngFor="let date of k.daily_values" [style.background]="checkBackground(date)">

                <div contenteditable='true' (blur)="clicked($event,k,date)" (mousedown)="highlight($event, date)" (keypress)="checkEnter($event)" style="color:rgb(90, 90, 90);">
                    <span [style.color]="date.color">{{date.num_upsells}}</span>&nbsp;/&nbsp;
                    <span *ngIf="date.allocation_ovrd" style="color: white; font-weight: 700;">{{date.allocation_ovrd}}</span>
                    <span *ngIf="!date.allocation_ovrd">{{date.allocation}}</span>
                </div>

                <!--[style.color]="date.color"-->

            </td>
        </tr>
    </table>
</div>

