<div class="row ">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active">Conf. Lookup</li>
        </ol>
    </div>
</div>

<div class="panel panel-default col-md-6 col-md-push-3 ng-scope">
    <div class="panel-heading h4">Confirmation Number</div>
    <div class="panel-body">
        <p class="text-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
        <form class="top-buffer ng-pristine ng-valid" ng-submit="cc.submitConf()">
            <div class="input-group form-group">
                    <span class="sr-only" id="conf-label">Confirmation Number</span>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="Conf No" aria-describedby="conf-label" autocapitalize="off" autocorrect="off" ng-model="cc.confNumber" autocomplete="off" ng-focus="true" (keyup)="onKey(confirmation_id.value)" (focus)="onKey(confirmation_id.value)" (blur)="onKey(confirmation_id.value)" #confirmation_id >
            </div>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block"  (click)="confirmation_clicked($event)">Submit
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

