

<div class="row ng-scope">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li class="active ng-binding">Conf. Lookup</li>
            <li class="active ng-binding">Reservation Details ({{confirmation_id}})</li>
        </ol>
    </div>
</div>


<div class="col-md-12 ng-scope" *ngIf="!showPromo">
    <div class="row">
        <h4>Reservation Details</h4>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <span class="col-md-2 text-right text-primary">Name:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.guest_name}}</span>
        <span class="col-md-2 text-right text-primary">Conf:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.conf_num}}</span>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <span class="col-md-2 text-right text-primary">Arrival:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.arrival_date}}</span>
        <span class="col-md-2 text-right text-primary">LOS:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.los}}</span>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <span class="col-md-2 text-right text-primary">Departure:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.departure_date}}</span>
        <span class="col-md-2 text-right text-primary">SRC:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.source_code}}</span>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <span class="col-md-2 text-right text-primary">Class:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.class_code}}</span>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <span class="col-md-2 text-right text-primary">Type:</span>
        <span class="col-md-3 text-left ng-binding">{{confirmation.type_code}}</span>
    </div>
    <div class="row">
        <form  class="ng-pristine ng-valid">
            <div class="form-group form-inline pull-right">
                <button class="btn btn-lg text-center" (click)="cancel($event)">Cancel</button>
                <button class="btn btn-primary btn-lg text-center" (click)="navigate($event)">OK</button>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-default col-md-6 col-md-push-3 ng-scope" *ngIf="showPromo">
    <div class="panel-heading h4">Enter Promotion Code</div>
    <div class="panel-body">
        <form class="top-buffer ng-pristine ng-valid">
            <div class="input-group form-group">
                <span class="sr-only" id="conf-label">Promotion Code</span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="text-transform:uppercase;" placeholder="Promo Code" aria-describedby="conf-label" autocorrect="off" [(ngModel)]="this.shared.promoCode" name="promoCode" autocomplete="off" id="txtPromoCode" #txtPromoCode >
            </div>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block"  (click)="getOffer()">Submit
                </button>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
