<div [class.container]="is_frontend_route" [class.containerBig]="is_admin_route">

    <div class="row top-buffer" *ngIf="username">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand" href="#">Radial</div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" *ngIf="show_hotel_dropdown">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentSelect | titleCase}} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li class='dropdown-item' *ngFor="let hotel of hotels">
                                    <a (click)="clickedBar(hotel.hotel_id,$event)" >{{hotel.hotel_name | titleCase }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li *ngIf="admin && is_frontend_route"><a (click)="goAdmin()">Admin</a></li>
                        <li *ngIf="admin && is_admin_route"><a (click)="goHome()">Home</a></li>
                        <li>
                            <!--<a style="cursor:default;">{{username}}</a>-->
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{username}}</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li class='dropdown-item'>
                                            <a (click)="userChangePassword()" >Change Password</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="ng-binding glyphicon glyphicon-log-out" style="margin-top:-1px; margin-left: -20px;" (click)="logOut()"> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

<div *ngIf="show_path_panel">
    <div class="pull-left" style="padding-top: 12px; padding-right: 10px;" *ngIf="username">
        <a *ngIf="!shared.show_res_conf" (click)="goConf()" class="ng-scope" style="cursor:pointer;font-weight: 700;">Confirmation</a>
        <a *ngIf="shared.show_res_conf" (click)="goHome()" class="ng-scope" style="cursor:pointer;font-weight: 700;">Room Selection</a>
    </div>
    <div class="col-md-3 pull-left" style="padding-top:10px;" *ngIf="username && !shared.show_res_conf">
        <div class="squaredThree" style="display:inline-block; padding-right:25px;">
            <input type="checkbox" [(ngModel)]="this.shared.quickClickEnabled" id="quickclick" name="quickclick" />
            <label for="quickclick"></label>
        </div>
        <label>
            Quick Click
        </label>
    </div>
  <div class="col-md-5 pull-right" *ngIf="username">
      <ul class="list-inline text-right">
          <li class="h5 text-uppercase" ng-switch="spc.confSearch !== true">
              <a *ngIf="this.shared.usePromo" (click)="disablePromo($event)" class="ng-scope" style="cursor:pointer;">Normal</a>
              <span *ngIf="!this.shared.usePromo" class="ng-scope">Normal</span>
          </li>
          <li class="h5 text-uppercase" ng-switch="spc.confSearch === true">
              <a *ngIf="!this.shared.usePromo" (click)="enablePromo($event)" class="ng-scope" style="cursor:pointer;">Promo</a>
              <span *ngIf="this.shared.usePromo" class="ng-scope">Promo</span>
          </li>
      </ul>
  </div>
  <div class="clearfix"></div>
</div>
    <div [hidden]="isLoading">
        <router-outlet ></router-outlet>
    </div>
    <div class="col-md-6 col-md-push-3" [hidden]="!isLoading" style="padding-top:100px;text-align:center;">
        <span style="font-size:80px;" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        <div style="padding-top:10px;">
            Loading...
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        Radial is a product of <a href="http://www.luxepricing.com/">Luxe Pricing</a>.  For support, please contact <a href="mailto:support@luxepricing.com?Subject=Support" target="_top">support@luxepricing.com</a>
    </div>
</div>
