<div *ngIf="!this.shared.quickClickEnabled">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" >
        <li>
      <span *ngFor="let crumb of bread; let i = index; ">
        <a style="cursor: pointer;" (click)="clickBread($event, crumb)" *ngIf="i != bread.length - 1"> <span *ngIf="i != 0">/</span> {{crumb.display | titleCase }} <span *ngIf="crumb.selection">({{crumb.selection}})</span></a>
      <span *ngIf="i == bread.length - 1">
        <span *ngIf="i != 0">/</span> {{crumb.display | titleCase }}
      </span>
    </span>

        </li>
      </ol>
    </div>
  </div>

  <div class="row" *ngIf="!showPromo">
    <div class="col-md-2 top-buffer" *ngFor="let value of values">
      <div class="col-md-10">
        <button class="btn btn-primary btn-lg btn-block" (click)="advance(value)" data-toggle="tooltip" title="{{value.value_desc}}">{{value.value_display_name}}</button>
      </div>
    </div>
  </div>
</div>

<div class="offer" *ngIf="this.shared.quickClickEnabled">
 <!-- <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb" >
        <li>
          <a (click)="clicked_quickBread($event)" href="#">Quick Click</a>
        </li>
      </ol>
    </div>
  </div>-->
  <div class="row table-container" *ngIf="!showPromo">
    <table style="width:100%;background:transparent">
      <tr>
        <td>Room Category</td>
        <td colspan="10">Length of Stay</td>
      </tr>
      <ng-container *ngFor="let k of this.shared.quickClickData">
        <tr style="height:.75em;">
        </tr>
        <tr>
          <td>{{ k.room_category_name }}</td>
          <td *ngFor="let value of k.los">
            <div (click)="quickClick(k.room_category_id, value)" data-toggle="tooltip" title="{{value.value_desc}}">
              {{ value.value_display_name }}
            </div>
          </td>
        </tr>
      </ng-container>

    </table>
  </div>
</div>

<div class="row">
    <div id="chartPlot" class="col-md-12">

    </div>
</div>

<div class="panel panel-default col-md-6 col-md-push-3 ng-scope" *ngIf="showPromo">
  <div class="panel-heading h4">Enter Promotion Code</div>
  <div class="panel-body">
    <form class="top-buffer ng-pristine ng-valid">
      <div class="input-group form-group">
        <span class="sr-only" id="conf-label">Promotion Code</span>
        <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
        <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="text-transform:uppercase ;" placeholder="Promo Code" aria-describedby="conf-label" autocorrect="off" [(ngModel)]="this.shared.promoCode" name="promoCode" autocomplete="off" id="txtPromoCode" #txtPromoCode >
      </div>
      <div class="input-group form-group pull-right">
        <button class="btn btn-primary btn-lg text-center btn-block"  (click)="getOffer()">Submit
        </button>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>
