<div class="row">
    <div class="col-md-8">
      <h1>Select Property</h1>
    </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-xs-3 btn-hotel" *ngFor="let hotel of hotels">
      <button class="btn btn-primary btn-lg btn-block" (click)="clicked(hotel.hotel_id)">{{hotel.hotel_name}}</button>
    </div>
  </div>
</div>
