<div class=""><div class="row text-center top-buffer bottom-buffer"><img src="assets/img/logo.png"></div>

    <div class="panel col-md-6 col-md-push-3 ng-scope">
        <div class="panel-body" *ngIf="!showRecovery">
          <p class="text-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
          <div class="input-group form-group top-buffer">
                      <span class="sr-only" id="username-label">Username</span>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="username" aria-describedby="username-label" ng-model="li.userName" autocapitalize="off" autocorrect="off" autofocus="" (keyup)="onUKey(username.value)" (focus)="onUKey(username.value)" (blur)="onUKey(username.value)" #username style="" name="username">
          </div>
          <div class="input-group form-group">
                      <span class="sr-only" id="password-label">Password</span>
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="password" aria-describedby="password-label"  name="password" autocapitalize="off" autocorrect="off"(keyup)="onPKey(password.value, $event)" (focus)="onPKey(password.value)" (blur)="onPKey(password.value)" #password  >
          </div>
          <div class="input-group form-group pull-right">
              <button class="btn btn-primary btn-lg text-center btn-block" (click)="login()">Login
              </button>
          </div>
            <div style="padding-top: 50px;">
                <a (click)="toggleRecovery()" style="cursor: pointer;">Need Assistance?</a>
            </div>
        </div>
        <div class="panel-body" *ngIf="showRecovery && !recoverySuccessful">
            <p>
                Please enter your email address below to reset your password.
            </p>
            <div class="input-group form-group top-buffer">
                <span class="sr-only" id="email-label">Email Address</span>
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" placeholder="email address" aria-describedby="email-label" [(ngModel)]="userEmail" autocapitalize="off" autocorrect="off" autofocus="">
            </div>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block" (click)="recoverPassword()" [disabled]="!userEmail">Recover Password
                </button>
            </div>
            <div style="padding-top: 50px;">
                <a (click)="toggleRecovery()" style="cursor: pointer;">Return</a>
            </div>
        </div>
        <div class="panel-body" *ngIf="showRecovery && recoverySuccessful">
            <p>
                Once your email address has been verified you shall receive an email to recover your account and reset your password. Please note that the recovery token will expire one hour after issuance.
            </p>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block" (click)="toggleRecovery()">Return
                </button>
            </div>
        </div>
    </div>
</div>
