<!-- Confirmation Modals -->

<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{ modal_title }}</h4>
    </modal-header>
</modal>


<modal #declinemodal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Decline Offer?</h4>
    </modal-header>
    <modal-body>
       Do you wish to decline this offer? 
    </modal-body>
    <modal-footer>
        <div class="col-md-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-4 col-xs-4 col-sm-4">
          <button type="button" class="btn btn-danger btn-block" (click)="declineConfirm()">Ok</button>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        </div>
    </modal-footer>
</modal>


<modal #withholdmodal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Withhold Offer?</h4>
    </modal-header>
    <modal-body>
       Do you wish to withhold this offer? 
    </modal-body>
    <modal-footer>
        <div class="col-md-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-4 col-xs-4 col-sm-4">
          <button type="button" class="btn btn-danger btn-block" (click)="withholdConfirm()">Ok</button>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        </div>
    </modal-footer>
</modal>

<modal #promomodal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Promotion</h4>
    </modal-header>
    <modal-body>
        <div class="column" *ngIf="!this.promo.exists">
            PROMO CODE <span style="text-transform:uppercase; font-weight: 700;">{{this.promo.promo_cd}}</span> DOES NOT EXIST
        </div>
        <div class="column" *ngIf="this.promo.exists">
            <div class="row" style="color:white;text-align:center;font-size:22px;" *ngIf="this.promo.customer_name">
                PROMO VALID FOR <span style="text-transform:uppercase; font-weight: 700;">{{this.promo.customer_name}}</span>
            </div>
            <div class="row" style="color:red;text-align:center;font-size:22px;" *ngIf="this.promo.flg_expired">
                PROMO EXPIRED ON {{this.promo.dt_expire | date:'shortDate'}}
            </div>
            <div class="row" style="color:red;text-align:center;font-size:22px;" *ngIf="this.promo.flg_max_offers">
                EXCEEDED MAX TIMES OFFERED
            </div>
            <div class="row" style="color:red;text-align:center;font-size:22px;" *ngIf="this.promo.flg_max_redemptions">
                EXCEEDED MAX REDEMPTIONS
            </div>
            <div class="row" style="color:red;text-align:center;font-size:22px;" *ngIf="!this.promo.flg_active">
                PROMO NOT ACTIVE
            </div>
        </div>
    </modal-body>
    <modal-footer>
        <div class="col-md-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <button type="button" class="btn btn-danger btn-block" *ngIf="this.promo.errors || !this.promo.exists" (click)="returnTree()">Return</button>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" (click)="modal.dismiss()">Proceed</button>
        </div>
    </modal-footer>
</modal>

<!-- End Confirmation Modals -->

<div class="modal-overlay" *ngIf="showPromoModal">
    <div class="mcontainer">
        <div class="msg" *ngIf="!this.promo.exists">
            PROMO CODE <span style="text-transform:uppercase; font-weight: 700;">{{this.promo.promo_cd}}</span> DOES NOT EXIST
        </div>
        <div *ngIf="this.promo.exists">
            <div class="msg" *ngIf="this.promo.customer_name">
                PROMO VALID FOR <span style="text-transform:uppercase; font-weight: 700;">{{this.promo.customer_name}}</span>
            </div>
            <div class="msg red" *ngIf="this.promo.flg_expired">
                PROMO EXPIRED ON {{this.promo.dt_expire | date:'shortDate'}}
            </div>
            <div class="msg red" *ngIf="this.promo.flg_max_offers">
                EXCEEDED MAX TIMES OFFERED
            </div>
            <div class="msg red" *ngIf="this.promo.flg_max_redemptions">
                EXCEEDED MAX REDEMPTIONS
            </div>
            <div class="msg red" *ngIf="!this.promo.flg_active">
                PROMO NOT ACTIVE
            </div>
        </div>
        <div class="mfooter">
            <button type="button" class="btn btn-danger"  *ngIf="!this.promo.exists" (click)="returnTree()">RE-ENTER PROMO CODE</button>
            <button type="button" class="btn btn-danger" *ngIf="this.promo.exists" (click)="showPromoModal = false">PROCEED TO PROMO</button>
            <div class="mbutton">
                <a (click)="reloadWithOutPromo()">PROCEED WITHOUT PROMO >></a>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="showGetPromoModal">
    <div class="mcontainer">
        <div class="panel-heading h4">Enter Promotion Code</div>
        <div class="panel-body">
            <form class="top-buffer ng-pristine ng-valid">
                <div class="input-group form-group">
                    <span class="sr-only" id="conf-label">Promotion Code</span>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                    <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="text-transform:uppercase ;" placeholder="Promo Code" aria-describedby="conf-label" autocorrect="off" [(ngModel)]="this.shared.promoCode" name="promoCode" autocomplete="off" id="txtPromoCode" #txtPromoCode >
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="mfooter">
            <button type="button" class="btn btn-danger" (click)="resubmitPromo()">SUBMIT PROMO CODE</button>
            <div class="mbutton">
                <a (click)="reloadWithOutPromo()">PROCEED WITHOUT PROMO >></a>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" *ngIf="showSpeech" (click)="hideModal()">
    <div class="mcontainer" style="width: 930px;">
        <div class="panel-heading h4">Offer Script</div>
        <div class="panel-body" style="background:rgba(0,0,0,.8);">
            <span style="font-size: 24px; line-height: 1.5;">
                {{this.speechText}}
            </span>
        </div>
        <div class="mfooter">
            <div class="mbutton">
                <a (click)="showSpeech = false">Close</a>
            </div>
        </div>
    </div>
</div>


<div *ngIf="show_offers && !isLoading">
  <div *ngIf="show_no_default_offers && !this.show_confirm && !this.promo.exists">
    <h2>No default offers, showing all</h2>
  </div>
  <div *ngIf="this.show_confirm">
    <h1>Please confirm your selection</h1>
  </div>
    <div *ngIf="this.promo.exists && !this.show_confirm">
        <h2>Offers for Promo code: <span style="font-weight: 700;">{{this.promo.promo_cd}}</span></h2>
    </div>
    <div style="color: white; font-size: 16px; padding-bottom: 10px;">
        Guest is currently booked into: {{this.details.data.base_room_category_name}}
    </div>
  <div class="row"  *ngFor="let offer of offers"  >
      <!-- Promotional Offers -->
    <div class="panel" *ngIf="offer.flg_default_offer <= 0">
      <div class="panel-heading" [class.h6]="true" (click)="toggleOffer(offer, $event)" role="button">
        <h3 class="panel-title ng-binding">
            <a>{{offer.upsell_room_category_name}}</a><img src="assets/img/comment.png" class="offer_comment" (click)="showComment($event, offer)"/>
            <div class="pull-right" *ngIf="!offer.open">
                <span class="offer_linethrough">${{offer.bar_price.toFixed(0)}}</span>
                <span *ngIf="offer.ofr_price.toFixed(0) != 0">${{offer.ofr_price.toFixed(0)}}/nt</span>
                <span *ngIf="offer.ofr_price.toFixed(0) == 0">FREE</span>
            </div>
          </h3>
      </div>
      <div [class.collapse]="!offer.open" >
        <div class="panel-body" >
          <ul class="list-group" >
            <li *ngFor="let amenity of offer.amenities" class="list-group-item col-md-6 ng-scope" ><h4 class="list-group-item-heading ">{{amenity.amenity_type}}</h4>
              <p class="list-group-item-text ng-binding ng-scope" *ngFor="let item of amenity.amenities">{{item}}</p>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
            <span class="col-md-8 vertical-align h4">
                <span class="h3 ng-binding">
                    <span class="offer_linethrough" style="font-size: 34px;">${{offer.bar_price.toFixed(0)}}</span>
                    <span *ngIf="offer.ofr_price.toFixed(0) != 0">${{offer.ofr_price.toFixed(0)}}/nt</span>
                    <span *ngIf="offer.ofr_price.toFixed(0) == 0">FREE</span>
                   <span> ({{((offer.pct_discount * 100)*-1).toFixed(0)}}% discount)</span>
                </span>
            </span>
            <button *ngIf="!this.show_confirm" class="pull-right btn btn-primary col-md-4 btn-lrg col-sm-4 col-xs-4 h4" (click)="selectUpsell(offer.offer_id)">Accept</button>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="panel-footer" *ngIf="this.show_confirm">
        <div *ngIf="this.show_confirm" class="row">
          <div class="col-md-4 col-xs-4 col-sm-4">
            <button class="btn btn-danger btn-block" (click)="cancelConfirm()">Cancel</button>
          </div>
          <div class="col-md-8 col-xs-8 col-sm-8">
            <button class="btn btn-primary btn-block" (click)="confirmUpsell(offer.offer_id)">Accept </button>
          </div>
        </div>
      </div>
    </div>
      <!-- Default Offers -->
    <div class="panel" *ngIf="offer.flg_default_offer > 0" [class.panel-primary]="offer.flg_default_offer > 0" style="border-color: #375a7f;">
      <div class="panel-heading" style="padding: 20px 15px; background-color: #375a7f; border-color: #375a7f;" [class.h6]="false" (click)="toggleOffer(offer, $event)" role="button">
        <h3 class="panel-title ng-binding">
            <a>{{offer.upsell_room_category_name}}</a><img src="assets/img/comment.png" class="offer_comment" (click)="showComment($event, offer)"/>
            <div class="pull-right" *ngIf="!offer.open">
                <span class="offer_linethrough">${{offer.bar_price.toFixed(0)}}</span>
                <span>${{offer.ofr_price}}/nt</span>
            </div>
          </h3>
      </div>
      <div [class.collapse]="!offer.open" >
        <div class="panel-body" >
          <ul class="list-group" >
            <li *ngFor="let amenity of offer.amenities" class="list-group-item col-md-6 ng-scope" ><h4 class="list-group-item-heading ">{{amenity.amenity_type}}</h4>
              <p class="list-group-item-text ng-binding ng-scope" *ngFor="let item of amenity.amenities">{{item}}</p>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
            <span class="col-md-8 vertical-align h4">
                <span class="h3 ng-binding"><span class="offer_linethrough" style="font-size: 34px;">${{offer.bar_price.toFixed(0)}}</span> ${{offer.ofr_price}}/nt ({{((offer.pct_discount * 100)*-1).toFixed(0)}}% discount)</span>
            </span>
            <button *ngIf="!this.show_confirm" class="pull-right btn btn-primary col-md-4 btn-lrg col-sm-4 col-xs-4 h4" (click)="selectUpsell(offer.offer_id)">Accept</button>
            <div class="clearfix"></div>
        </div>
      </div>
      <div class="panel-footer" *ngIf="this.show_confirm">
        <div *ngIf="this.show_confirm" class="row">
          <div class="col-md-4 col-xs-4 col-sm-4">
            <button class="btn btn-danger btn-block" (click)="cancelConfirm()">Cancel</button>
          </div>
          <div class="col-md-8 col-xs-8 col-sm-8">
            <button class="btn btn-primary btn-block" (click)="confirmUpsell(offer.offer_id)">Accept </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!show_confirm">
    <div class="panel">
      <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="actions">
          <div class="btn-group" role="group">
            <button class="btn btn-default" (click)="withholdOffer()">Offer Withheld</button>
          </div>
          <div *ngIf="!this.custom_upgrade" class="btn-group" role="group">
            <button class="btn btn-info" (click)="customUpgrade()">All Offers</button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-danger" (click)="declineClick()">Guest Declined</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 *ngIf="show_no_offers && !isLoading">Sorry, no upgrades are available</h2>


<div class="col-md-6 col-md-push-3" *ngIf="isLoading" style="padding-top:100px;text-align:center;">
    <span style="font-size:80px;" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
    <div style="padding-top:10px;">
        Retrieving Offers...
    </div>
</div>
