<div class=""><div class="row text-center top-buffer bottom-buffer"><img src="assets/img/logo.png"></div>

    <div class="panel col-md-6 col-md-push-3 ng-scope">
        <div class="panel-heading h4">Account Recovery</div>
        <div class="panel-body" *ngIf="!validToken">
            <p>
                The recovery token you have attempted is either invalid or expired. Please return to the login page and request another recovery token to continue.
            </p>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block"  (click)="goHome()">Return
                </button>
            </div>
        </div>
        <div class="panel-body" *ngIf="validToken && !successful">
            <form #profileForm="ngForm" class="top-buffer ng-pristine ng-valid">
                <p class="text-danger text-center" *ngIf="errorMessage">{{errorMessage}}</p>
                <div class="input-group form-group">
                    <span class="sr-only" id="password-new-label">New Password</span>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="inputNewPassword" name="inputNewPassword" #inputNewPassword="ngModel" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                           [(ngModel)]="newPassword" required minlength="8" pattern="(?:[^`!@#$%^&*\-_=+'\/.,]*[`!@#$%^&*\-_=+'\/.,]){2,}"
                           placeholder="new password" aria-describedby="password-new-label"  name="newpassword" autocapitalize="off" autocorrect="off">
                </div>
                <div [hidden]="inputNewPassword.valid || inputNewPassword.pristine"
                     class="alert alert-danger">
                    <div [hidden]="!inputNewPassword.hasError('required')">New Password is required</div>
                    <div [hidden]="!inputNewPassword.hasError('minlength')">Password Must be more than 8 characters</div>
                    <div [hidden]="!inputNewPassword.hasError('pattern')">Password Must have atleast 2 special characters</div>
                </div>

                <div class="input-group form-group">
                    <span class="sr-only" id="password-new2-label">Confirm New Password</span>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="inputConfirmPassword" name="inputConfirmPassword" #inputConfirmPassword="ngModel" type="password" class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                           [(ngModel)]="confirmPassword" required
                           placeholder="confirm new password" aria-describedby="password-new2-label"  name="confirmpassword" autocapitalize="off" autocorrect="off">
                </div>
                <div [hidden]="newPassword == confirmPassword"
                     class="alert alert-danger">
                    Passwords did not match
                </div>

                <div class="input-group form-group pull-right">
                    <button class="btn btn-primary btn-lg text-center btn-block"  (click)="savePassword()" [disabled]="!profileForm.form.valid || (newPassword != confirmPassword)">Update Password
                    </button>
                </div>
            </form>
        </div>
        <div class="panel-body" *ngIf="validToken && successful">
            <p>
                Your password has successfully been updated. Please return to the login page.
            </p>
            <div class="input-group form-group pull-right">
                <button class="btn btn-primary btn-lg text-center btn-block"  (click)="goHome()">Return
                </button>
            </div>
        </div>
    </div>
</div>