<html>
  <head>
    <base href="/">
    <title>Luxe Pricing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="./assets/img/favicon.ico">
   <!-- <link rel="stylesheet" href="styles.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <!--<script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>-->
    <!-- 2. Configure SystemJS -->
    <!--<script src="systemjs.config.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        window.addEventListener("load",function() {
            setTimeout(function(){
                window.scrollTo(0, 1);
            }, 0);
        });
      //System.import('app').catch(function(err){ console.error(err); });
    </script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app>
      <div id="preloader">
        <div></div>
      </div>
<!--      <div class="col-md-6 col-md-push-3" *ngIf="isLoading" style="padding-top:200px;text-align:center;">
        <span style="font-size:80px;" class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        <div style="padding-top:10px;">
          Loading...
        </div>
      </div>-->
    </my-app>
  </body>
</html>
